@import url(cdn.css);
@import url(heading.css);
@import url(footer.css);
@import url(awesome.css);

*{
    margin:0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: auto;
    padding: 0 15px;
}

html{
    font-family:'Raleway', 'Open Sans', sans-serif;
}

